# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-gist-dev'
      'command': 'atom-gist-dev:clone'
    }
  ]
'menu': [
  {
    'label': 'Gist Dev'
    'submenu': [
      {
        'label': 'Clone'
        'command': 'atom-gist-dev:clone'
      }
      {
        'label': 'Save'
        'command': 'atom-gist-dev:save'
      }
      {
        'label': 'Save and Share'
        'command': 'atom-gist-dev:save-share'
      }
    ]
  }
]
